In [1]:
#1. Create the compute_monthly_interest function to return the monthly interest on a balance
# at a give annual interest rate:
def compute_monthly_interest(balance,annual_interest):
    '''
    Compute the monthly interest, based on a
    balance and an annual interest rate
    
    Arguments:
    balance: The balance of an account.
    annual_interest: The annual interest rate as a percent (e.g. 29.99)
    
    Returns:
    interest: The amount of monthly interest owed on the
        balance, based on the annual interest rate
    '''

In [2]:
compute_monthly_interest(10000,29)

241.66666666666666

In [15]:
#2. Create the create_lambda function to return a lambda function that accepts a slope, intercept, 
# and x-value (in that order), and computes the corresponding y-value for a line:
def create_lambda():
    '''
    Return a lambda function that takes in a
    slope, intercept, and x-value (in that order),
    and computes the corresponding y-value for the line.
    
    Arguments:
    None
    
    Returns:
    lambda_line_compute: the lambda.
    
    Note:
    You can access this function using create_lambda()(slope,intercept,xval)
    '''

In [14]:
create_lambda()(2,8,100)

208

In [16]:
#3. Edit the create_array function to return a numpy array that meets the requirements noted in the docstring.

import numpy as np

def create_array():
    '''
    Create and return a numpy array that meets the
    following criteria:
    1. Is one-dimensional.
    2. Starts from zero, and contains every third number
        (i.e. 0, 3, 6, 9...).
    3. Ends with 1101.
    4. Is an array of integers.
    Arguments:
    None
    Returns:
    output_array: An array meeting the specifications in this
        docstring.
    '''

In [18]:
a=create_array()
a

array([   0,    3,    6,    9,   12,   15,   18,   21,   24,   27,   30,
         33,   36,   39,   42,   45,   48,   51,   54,   57,   60,   63,
         66,   69,   72,   75,   78,   81,   84,   87,   90,   93,   96,
         99,  102,  105,  108,  111,  114,  117,  120,  123,  126,  129,
        132,  135,  138,  141,  144,  147,  150,  153,  156,  159,  162,
        165,  168,  171,  174,  177,  180,  183,  186,  189,  192,  195,
        198,  201,  204,  207,  210,  213,  216,  219,  222,  225,  228,
        231,  234,  237,  240,  243,  246,  249,  252,  255,  258,  261,
        264,  267,  270,  273,  276,  279,  282,  285,  288,  291,  294,
        297,  300,  303,  306,  309,  312,  315,  318,  321,  324,  327,
        330,  333,  336,  339,  342,  345,  348,  351,  354,  357,  360,
        363,  366,  369,  372,  375,  378,  381,  384,  387,  390,  393,
        396,  399,  402,  405,  408,  411,  414,  417,  420,  423,  426,
        429,  432,  435,  438,  441,  444,  447,  450,  453,  456,  459,
        462,  465,  468,  471,  474,  477,  480,  483,  486,  489,  492,
        495,  498,  501,  504,  507,  510,  513,  516,  519,  522,  525,
        528,  531,  534,  537,  540,  543,  546,  549,  552,  555,  558,
        561,  564,  567,  570,  573,  576,  579,  582,  585,  588,  591,
        594,  597,  600,  603,  606,  609,  612,  615,  618,  621,  624,
        627,  630,  633,  636,  639,  642,  645,  648,  651,  654,  657,
        660,  663,  666,  669,  672,  675,  678,  681,  684,  687,  690,
        693,  696,  699,  702,  705,  708,  711,  714,  717,  720,  723,
        726,  729,  732,  735,  738,  741,  744,  747,  750,  753,  756,
        759,  762,  765,  768,  771,  774,  777,  780,  783,  786,  789,
        792,  795,  798,  801,  804,  807,  810,  813,  816,  819,  822,
        825,  828,  831,  834,  837,  840,  843,  846,  849,  852,  855,
        858,  861,  864,  867,  870,  873,  876,  879,  882,  885,  888,
        891,  894,  897,  900,  903,  906,  909,  912,  915,  918,  921,
        924,  927,  930,  933,  936,  939,  942,  945,  948,  951,  954,
        957,  960,  963,  966,  969,  972,  975,  978,  981,  984,  987,
        990,  993,  996,  999, 1002, 1005, 1008, 1011, 1014, 1017, 1020,
       1023, 1026, 1029, 1032, 1035, 1038, 1041, 1044, 1047, 1050, 1053,
       1056, 1059, 1062, 1065, 1068, 1071, 1074, 1077, 1080, 1083, 1086,
       1089, 1092, 1095, 1098, 1101])

In [19]:
#4. Edit the compute_avg_length function to return the average length of the dimensions of an input array.
def compute_avg_length(input_array):
    '''
    For any given numpy array, compute the average number
    of elements along each axis. For example, if a 2D array
    has a shape of (12,4), then the average number of elements
    would be 8. If a 3D array has a shape of (12,4,14), then the
    average number of elements would be 10.
    Arguments:
    input_array: The numpy array to get the average number of
        elements of.
    Returns:
    avg_length: The average number of elements along each axis.
    '''

In [20]:
compute_avg_length(np.arange(20))

20.0