In [2]:
#run this part before doing the practice

def nacci(length):
    fib = [1, 1]
    i = 2
    while i < length:
        fib += [fib[-1] + fib[-2]]
        i += 1
    return fib

import hashlib

def generate_dict():
    keys = ["hello", "there", "hello_there", "hello there", "dictionaries are cool"]
    return {key: hashlib.md5(key.encode('utf-8')).hexdigest() for key in keys}

In [12]:
#run this part before doing the practice
fibolist = nacci(50)
demodict1 = generate_dict()
type(fibolist[-1])

int

In [14]:
fibo_last = fibolist[-1]
print("The last element of fibo_list is {0:d}".format(fibolist[-1]))
print("Fibonacci sequence of length {0:d} has {1:d} as its last element".format(len(fibolist),fibolist[-1]))

The last element of fibo_list is 12586269025
Fibonacci sequence of length 50 has 12586269025 as its last element

In [15]:
#1. Find the last element of fibolist:









fibolist_last = fibolist[-1]
print("Fibonacci sequesce of length {0:d} has {1:d} as it's last element".format(len(fibolist),fibolist_last))

Fibonacci sequesce of length 50 has 12586269025 as it's last element

In [17]:
#2. Find the sum of all even entries (indices 0, 2, 4,...) of fibolist:

In [21]:
even_number = []
sum_even_number = 0

for index, number in enumerate(fibolist):
    if index %2 == 0:
        sum_even_number = sum_even_number + number

        
print(sum_even_number)

12586269025

In [22]:
fibolist_even_entries_sum = sum(fibolist[::2])
print("Sum of all even entries in fibolist: {0:d}".format(fibolist_even_entries_sum))

Sum of all even entries in fibolist: 12586269025

In [23]:
#2. Find the sum of all even entries (indices 0, 2, 4,...) of fibolist:
fibolist_even_entries_sum = sum(fibolist[::2])
print("Sum of all even entries in fibolist: {0:d}".format(fibolist_even_entries_sum))

Sum of all even entries in fibolist: 12586269025

In [26]:
#3. Lists can be extended. The next fibonacci number is 20365011074, add it to fibolist.
fibolist.append(23365011074)

In [16]:
#3. Lists can be extended. The next fibonacci number is 20365011074, add it to fibolist.
fibolist.append(20365011074)
fibolist

[1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025,
 20365011074]

In [32]:
#4. Can you put a reversed copy of fibolist into fibolist_reversed without changing fibolist in place?

In [43]:
import copy
fibolist_copy = copy.deepcopy(fibolist)
fibolist_copy.reverse() 
print(fibolist_copy)

In [46]:
#4. Can you put a reversed copy of fibolist into fibolist_reversed without changing fibolist in place?
fibolist_reversed = fibolist.copy()
fibolist_reversed.reverse()
print(fibolist_reversed)

[23365011074, 23365011074, 23365011074, 12586269025, 7778742049, 4807526976, 2971215073, 1836311903, 1134903170, 701408733, 433494437, 267914296, 165580141, 102334155, 63245986, 39088169, 24157817, 14930352, 9227465, 5702887, 3524578, 2178309, 1346269, 832040, 514229, 317811, 196418, 121393, 75025, 46368, 28657, 17711, 10946, 6765, 4181, 2584, 1597, 987, 610, 377, 233, 144, 89, 55, 34, 21, 13, 8, 5, 3, 2, 1, 1]

In [50]:
A = [1, 2, 3, 4, 5]
B = ["a", "b", "c", "d", "e"]
#5. Two lists can be concatenated with +. Concatenate A and B together, and store the result in A_and_B.
A_and_B = A + B

In [52]:
A = [1, 2, 3, 4, 5]
B = ["a", "b", "c", "d", "e"]
#5. Two lists can be concatenated with +. Concatenate A and B together, and store the result in A_and_B.
A_and_B = A + B
A_and_B

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

In [58]:
#6. Check if 1337 is in fibolist. If it is, make is_1337_fibo True, otherwise make it False.
  
is_1337_fibo = 1337 in set(fibolist)
print("is 1337 in the fibo list? {0}".format(is_1337_fibo))

is 1337 in the fibo list? False

In [59]:
#6. Check if 1337 is in fibolist. If it is, make is_1337_fibo True, otherwise make it False.
is_1337_fibo = 1337 in set(fibolist)
print("is 1337 in the fibo list? {0}".format(is_1337_fibo))

is 1337 in the fibo list? False

In [68]:
#####Tuples!#####
maybe_your_first_tuple = (0, 1, 2, 3, "hello", 4, 5, 6, 7, 8, 9, 10, 1, 4, 1, 1, 91)

#7. Tuples also support slicing like lists. Find the even- and odd-indexed entries of the tuple:
odd_indexed_entries = maybe_your_first_tuple[::2]
odd_indexed_entries

(0, 2, 'hello', 5, 7, 9, 1, 1, 91)

In [69]:
even_indexed_entries = maybe_your_first_tuple[1::2]
even_indexed_entries

(1, 3, 4, 6, 8, 10, 4, 1)

In [72]:
#####Tuples!#####
maybe_your_first_tuple = (0, 1, 2, 3, "hello", 4, 5, 6, 7, 8, 9, 10, 1, 4, 1, 1, 91)

#7. Tuples also support slicing like lists. Find the even- and odd-indexed entries of the tuple:
your_first_tuple_evens = maybe_your_first_tuple[::2]
your_first_tuple_odds = maybe_your_first_tuple[1::2]

In [73]:
your_first_tuple_odds

(1, 3, 4, 6, 8, 10, 4, 1)

In [74]:
your_first_tuple_evens

(0, 2, 'hello', 5, 7, 9, 1, 1, 91)

In [81]:
#####Sets!#####

#8. Sets are often used to find the distinct elements of a list. Find the distinct elements below:
some_repeats = [1,1,1,1,1,1,2,2,2,2,3,4,5,6,7,8,2345,345,2,52,243,5,2,345,523,45,5,4,2,2,3,5,234,2345]

set_some_repeats = set(some_repeats)
set_some_repeats

{1, 2, 3, 4, 5, 6, 7, 8, 45, 52, 234, 243, 345, 523, 2345}

In [82]:
#####Sets!#####

#8. Sets are often used to find the distinct elements of a list. Find the distinct elements below:
some_repeats = [1,1,1,1,1,1,2,2,2,2,3,4,5,6,7,8,2345,345,2,52,243,5,2,345,523,45,5,4,2,2,3,5,234,2345]
distinct_elements = set(some_repeats)
distinct_elements

{1, 2, 3, 4, 5, 6, 7, 8, 45, 52, 234, 243, 345, 523, 2345}

In [87]:
set_A = set(range(100))
set_B = set(range(0,200,2))

#9. Apply the union and intersection operations to set_A and set_B as indicated:
A_union_B = set_A | set_B
A_intersection_B = set_A & set_B

In [27]:
set_A = set(range(100))
set_B = set(range(0,200,2))

#9. Apply the union and intersection operations to set_A and set_B as indicated:
A_union_B = set_A | set_B
A_intersection_B = set_A & set_B

In [29]:
A_union_B

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198}

In [88]:
A_intersection_B

{0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98}

In [89]:
#####Dictionaries!#####

# Dictionary elements are accessed by key rather than position.
#10. Try it here - get the value of key "hello there" in the dictionary demodict1 (created at the top of this script):
demodict1["hello there"]

'161bc25962da8fed6d2f59922fb642aa'

In [90]:
del demodict1["there"]

In [93]:
demodict1

{'hello_there': '290e1c9cc54995453b810dfb15b853a1',
 'hello there': '161bc25962da8fed6d2f59922fb642aa',
 'dictionaries are cool': '6b011c7572cef2d3759c11ff1602ed9c'}

In [92]:
del demodict1['hello']

In [30]:
#####Dictionaries!#####

# Dictionary elements are accessed by key rather than position.
#10. Try it here - get the value of key "hello there" in the dictionary demodict1 (created at the top of this script):
hello_there_value = demodict1["hello there"]

In [31]:
#11. remove the key "there" from demodict1:
del demodict1["there"]

In [32]:
demodict1

{'hello': '5d41402abc4b2a76b9719d911017c592',
 'hello_there': '290e1c9cc54995453b810dfb15b853a1',
 'hello there': '161bc25962da8fed6d2f59922fb642aa',
 'dictionaries are cool': '6b011c7572cef2d3759c11ff1602ed9c'}

In [137]:
#run this part before doing the practice
import random
random.seed(13789)
account_id_list = range(1,51)
account_balance_list = [random.randint(-2000,2000) for id in account_id_list]

In [98]:
#12. Set total_balance equal to the sum of all the items in
# account_balance_list.

total_balance = sum(account_balance_list)
total_balance

258

In [102]:
#12. Set total_balance equal to the sum of all the items in
# account_balance_list.
total_balance = 0
for balance in account_balance_list:
    total_balance = total_balance + balance

total_balance

258

In [107]:
#13. Set total_credit_balance equal to the sum of all the items
# in account_balance_list that are greater than or equal to zero.
# Additionally, set num_accounts_with_credit equal to the number
# of items that meet this criteria.

total_credit_balance = 0
num_accounts_with_credit = 0

for balance in account_balance_list:
    if balance >= 0:
        total_credit_balance = total_credit_balance + balance
        num_accounts_with_credit = num_accounts_with_credit + 1 
        
print(total_credit_balance)
print(num_accounts_with_credit)

30410
23

In [108]:
#13. Set total_credit_balance equal to the sum of all the items
# in account_balance_list that are greater than or equal to zero.
# Additionally, set num_accounts_with_credit equal to the number
# of items that meet this criteria.

total_credit_balance = 0
num_accounts_with_credit = 0
for b in account_balance_list:
   if b >= 0 :
        total_credit_balance = total_credit_balance + b
        num_accounts_with_credit = num_accounts_with_credit + 1

In [109]:
total_credit_balance

30410

In [111]:
num_accounts_with_credit

23

In [112]:
# 14. Make account_id_debt_list a list of all elements 
#     in account_id_list that correspond to elements in account_balance_list that are
#     thare are less than zero

account_id_debt_list = list()

In [120]:
for i in account_id_list:
    if account_balance_list[i-1] < 0:
        account_id_debt_list.append(i)

In [132]:
#15. Set all balances less than zero to be zero in account_balance_list.
# account_balance_list = None

account_balance_list

for i in range(len(account_balance_list)):
    if account_balance_list[i] < 0:
        account_balance_list[i] == 0

In [133]:
print(account_balance_list)

[1901, 1783, 0, 0, 472, 0, 1691, 1989, 1441, 0, 1340, 0, 0, 1524, 0, 0, 0, 704, 655, 0, 0, 751, 0, 1110, 0, 1962, 0, 907, 0, 1356, 0, 0, 1710, 1122, 0, 1827, 0, 0, 0, 0, 1726, 0, 0, 1258, 32, 0, 1177, 1972, 0, 0]

In [128]:
for i in account_id_list:
    if account_balance_list[i-1] < 0:
        account_balance_list[i-1] = 0

In [129]:
account_balance_list

[1901,
 1783,
 0,
 0,
 472,
 0,
 1691,
 1989,
 1441,
 0,
 1340,
 0,
 0,
 1524,
 0,
 0,
 0,
 704,
 655,
 0,
 0,
 751,
 0,
 1110,
 0,
 1962,
 0,
 907,
 0,
 1356,
 0,
 0,
 1710,
 1122,
 0,
 1827,
 0,
 0,
 0,
 0,
 1726,
 0,
 0,
 1258,
 32,
 0,
 1177,
 1972,
 0,
 0]